<h2>My cart</h2>

<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>

  </thead>

  <tbody>
    <% @cart.line_items.each do |item| %>
    <li><%= item.quantity %> &times; <%= item.product.title %></li>
      <tr>
        <td class=".table-striped"><%= link_to item.product.title, item.product.title %></td>
        <td class=".table-striped"><%= item.quantity %> &times; <%= item.product.title %></td>
        <td class=".table-striped"><%= number_to_currency(item.product.price) %></td>
      </tr>
    <% end %>
    <tr>
      <th>Total</th>
      <td></td>
    </tr>
  </tbody>
</table>
